# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Publish folders
PublishAPI/
PublishMVC/

# VS Code
.vscode/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# NuGet
packages/

# Secret config files
appsettings.json
appsettings.Development.json